In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelBinarizer, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.svm import SVC 
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score as score
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score

C:\Users\mohamedelhedi\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
train_data =pd.read_csv("C:\\Users\\mohamedelhedi\\Desktop\\python san fansico\\train.csv", parse_dates =['Dates'])
test_data = pd.read_csv("C:\\Users\\mohamedelhedi\\Desktop\\python san fansico\\test.csv", parse_dates =['Dates'])

print("The size of the train data is:", train_data.shape)
print("The size of the test data is:", test_data.shape)

The size of the train data is: (878049, 9)
The size of the test data is: (884262, 7)

In [3]:
train_data.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [4]:
test_data.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [5]:
train_data.dtypes.value_counts()

object            6
float64           2
datetime64[ns]    1
dtype: int64

In [6]:
test_data.dtypes.value_counts()

object            3
float64           2
int64             1
datetime64[ns]    1
dtype: int64

In [7]:
train_data.isnull().sum()

Dates         0
Category      0
Descript      0
DayOfWeek     0
PdDistrict    0
Resolution    0
Address       0
X             0
Y             0
dtype: int64

In [8]:
test_data.isnull().sum()

Id            0
Dates         0
DayOfWeek     0
PdDistrict    0
Address       0
X             0
Y             0
dtype: int64

In [9]:
train_data.columns

Index(['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y'],
      dtype='object')

In [10]:
train_data.Category.value_counts()

LARCENY/THEFT                  174900
OTHER OFFENSES                 126182
NON-CRIMINAL                    92304
ASSAULT                         76876
DRUG/NARCOTIC                   53971
VEHICLE THEFT                   53781
VANDALISM                       44725
WARRANTS                        42214
BURGLARY                        36755
SUSPICIOUS OCC                  31414
MISSING PERSON                  25989
ROBBERY                         23000
FRAUD                           16679
FORGERY/COUNTERFEITING          10609
SECONDARY CODES                  9985
WEAPON LAWS                      8555
PROSTITUTION                     7484
TRESPASS                         7326
STOLEN PROPERTY                  4540
SEX OFFENSES FORCIBLE            4388
DISORDERLY CONDUCT               4320
DRUNKENNESS                      4280
RECOVERED VEHICLE                3138
KIDNAPPING                       2341
DRIVING UNDER THE INFLUENCE      2268
RUNAWAY                          1946
LIQUOR LAWS                      1903
ARSON                            1513
LOITERING                        1225
EMBEZZLEMENT                     1166
SUICIDE                           508
FAMILY OFFENSES                   491
BAD CHECKS                        406
BRIBERY                           289
EXTORTION                         256
SEX OFFENSES NON FORCIBLE         148
GAMBLING                          146
PORNOGRAPHY/OBSCENE MAT            22
TREA                                6
Name: Category, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

train_data['Category'] = le.fit_transform(train_data.Category)
train_data.Category.head()

0    37
1    21
2    21
3    16
4    16
Name: Category, dtype: int64

In [12]:
train_data.PdDistrict.value_counts()

SOUTHERN      157182
MISSION       119908
NORTHERN      105296
BAYVIEW        89431
CENTRAL        85460
TENDERLOIN     81809
INGLESIDE      78845
TARAVAL        65596
PARK           49313
RICHMOND       45209
Name: PdDistrict, dtype: int64

In [13]:
feature_cols =['DayOfWeek', 'PdDistrict']
train_data = pd.get_dummies(train_data, columns=feature_cols)
test_data = pd.get_dummies(test_data, columns=feature_cols)

train_data

,Dates,Category,Descript,Resolution,Address,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,...,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN
0,2015-05-13 23:53:00,37,WARRANT ARREST,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,2015-05-13 23:53:00,21,TRAFFIC VIOLATION ARREST,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2015-05-13 23:33:00,21,TRAFFIC VIOLATION ARREST,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,2015-05-13 23:30:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,2015-05-13 23:30:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,2015-05-13 23:30:00,16,GRAND THEFT FROM UNLOCKED AUTO,NONE,0 Block of TEDDY AV,-122.403252,37.713431,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,2015-05-13 23:30:00,36,STOLEN AUTOMOBILE,NONE,AVALON AV / PERU AV,-122.423327,37.725138,0,0,0,...,0,0,1,0,0,0,0,0,0,0
7,2015-05-13 23:30:00,36,STOLEN AUTOMOBILE,NONE,KIRKWOOD AV / DONAHUE ST,-122.371274,37.727564,0,0,0,...,1,0,0,0,0,0,0,0,0,0
8,2015-05-13 23:00:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,600 Block of 47TH AV,-122.508194,37.776601,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9,2015-05-13 23:00:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10,2015-05-13 22:58:00,16,PETTY THEFT FROM LOCKED AUTO,NONE,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802,0,0,0,...,0,1,0,0,0,0,0,0,0,0
11,2015-05-13 22:30:00,21,MISCELLANEOUS INVESTIGATION,NONE,0 Block of ESCOLTA WY,-122.487983,37.737667,0,0,0,...,0,0,0,0,0,0,0,0,1,0
12,2015-05-13 22:30:00,35,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",NONE,TURK ST / JONES ST,-122.412414,37.783004,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,2015-05-13 22:06:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,FILLMORE ST / GEARY BL,-122.432915,37.784353,0,0,0,...,0,0,0,0,1,0,0,0,0,0
14,2015-05-13 22:00:00,20,FOUND PROPERTY,NONE,200 Block of WILLIAMS AV,-122.397744,37.729935,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,2015-05-13 22:00:00,20,FOUND PROPERTY,NONE,0 Block of MENDELL ST,-122.383692,37.743189,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16,2015-05-13 22:00:00,25,"ROBBERY, ARMED WITH A KNIFE",NONE,EDDY ST / JONES ST,-122.412597,37.783932,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,2015-05-13 21:55:00,1,AGGRAVATED ASSAULT WITH BODILY FORCE,NONE,GODEUS ST / MISSION ST,-122.421682,37.742822,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,2015-05-13 21:40:00,21,TRAFFIC VIOLATION,"ARREST, BOOKED",MENDELL ST / HUDSON AV,-122.386401,37.738983,0,0,0,...,1,0,0,0,0,0,0,0,0,0
19,2015-05-13 21:30:00,20,FOUND PROPERTY,NONE,100 Block of JONES ST,-122.412250,37.782556,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,2015-05-13 21:30:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,200 Block of EVELYN WY,-122.449389,37.742669,0,0,0,...,0,0,1,0,0,0,0,0,0,0
21,2015-05-13 21:17:00,25,"ROBBERY, BODILY FORCE",NONE,1600 Block of VALENCIA ST,-122.420272,37.747332,0,0,0,...,0,0,1,0,0,0,0,0,0,0
22,2015-05-13 21:11:00,37,WARRANT ARREST,NONE,100 Block of JONES ST,-122.412250,37.782556,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,2015-05-13 21:11:00,20,"STAY AWAY OR COURT ORDER, NON-DV RELATED",NONE,100 Block of JONES ST,-122.412250,37.782556,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,2015-05-13 21:10:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,FILLMORE ST / LOMBARD ST,-122.436049,37.799841,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25,2015-05-13 21:00:00,20,LOST PROPERTY,NONE,300 Block of OFARRELL ST,-122.410509,37.786043,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26,2015-05-13 21:00:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,2000 Block of BUSH ST,-122.431018,37.787388,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,2015-05-13 21:00:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,500 Block of COLLEGE AV,-122.423656,37.732556,0,0,0,...,0,0,1,0,0,0,0,0,0,0
28,2015-05-13 21:00:00,16,ATTEMPTED THEFT FROM LOCKED VEHICLE,NONE,19TH AV / SANTIAGO ST,-122.475773,37.744919,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29,2015-05-13 20:56:00,21,MISCELLANEOUS INVESTIGATION,NONE,2000 Block of 41ST AV,-122.499787,37.748518,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878019,2003-01-06 02:37:00,21,"DRIVERS LICENSE, SUSPENDED OR REVOKED","ARREST, CITED",6TH ST / MARKET ST,-122.410294,37.782231,0,1,0,...,0,0,0,0,0,0,0,1,0,0
878020,2003-01-06 02:32:00,21,TRAFFIC VIOLATION,"ARREST, CITED",VAN NESS AV / TURK ST,-122.420642,37.781961,0,1,0,...,0,0,0,0,1,0,0,0,0,0
878021,2003-01-06 02:24:00,35,MALICIOUS MISCHIEF,NOT PROSECUTED,SANCHEZ ST / 14TH ST,-122.431191,37.767595,0,1,0,...,0,0,0,0,1,0,0,0,0,0
878022,2003-01-06 02:16:00,36,RECOVERED VEHICLE - STOLEN OUTSIDE SF,NONE,17TH ST / MISSION ST,-122.419516,37.763429,0,1,0,...,0,0,0,1,0,0,0,0,0,0
878023,2003-01-06 02:15:00,16,GRAND THEFT PICKPOCKET,NONE,600 Block of ELLIS ST,-122.416894,37.784286,0,1,0,...,0,0,0,0,0,0,0,0,0,1
878024,2003-01-06 02:09:00,21,VIOLATION OF MUNICIPAL POLICE CODE,"ARREST, CITED",600 Block of DIVISADERO ST,-122.437781,37.775483,0,1,0,...,0,0,0,0,0,1,0,0,0,0
878025,2003-01-06 02:06:00,21,TRAFFIC VIOLATION,"ARREST, BOOKED",NEWHALL ST / GALVEZ AV,-122.387710,37.740674,0,1,0,...,1,0,0,0,0,0,0,0,0,0
878026,2003-01-06 02:06:00,37,WARRANT ARREST,"ARREST, BOOKED",NEWHALL ST / GALVEZ AV,-122.387710,37.740674,0,1,0,...,1,0,0,0,0,0,0,0,0,0
878027,2003-01-06 02:00:00,37,ENROUTE TO OUTSIDE JURISDICTION,"ARREST, BOOKED",900 Block of MARKET ST,-122.409708,37.782828,0,1,0,...,0,0,0,0,0,0,0,1,0,0
878028,2003-01-06 02:00:00,1,AGGRAVATED ASSAULT WITH BODILY FORCE,NONE,6TH ST / MARKET ST,-122.410294,37.782231,0,1,0,...,0,0,0,0,0,0,0,1,0,0
878029,2003-01-06 01:54:00,21,PROBATION VIOLATION,"ARREST, BOOKED",1400 Block of GOLDEN GATE AV,-122.434423,37.779193,0,1,0,...,0,0,0,0,0,0,0,0,0,1
878030,2003-01-06 01:54:00,28,"FORCIBLE RAPE, BODILY FORCE","ARREST, BOOKED",1400 Block of GOLDEN GATE AV,-122.434423,37.779193,0,1,0,...,0,0,0,0,0,0,0,0,0,1
878031,2003-01-06 01:50:00,1,BATTERY,NONE,3RD ST / NEWCOMB AV,-122.390417,37.735593,0,1,0,...,1,0,0,0,0,0,0,0,0,0
878032,2003-01-06 01:36:00,21,"DRIVERS LICENSE, SUSPENDED OR REVOKED","ARREST, CITED",GEARY BL / FRANKLIN ST,-122.423031,37.785482,0,1,0,...,0,0,0,0,1,0,0,0,0,0
878033,2003-01-06 01:30:00,35,"MALICIOUS MISCHIEF, VANDALISM","ARREST, CITED",1000 Block of 22ND AV,-122.391668,37.757793,0,1,0,...,0,0,0,0,0,0,1,0,0,0
878034,2003-01-06 01:30:00,34,TRESPASSING,"ARREST, CITED",1000 Block of 22ND AV,-122.391668,37.757793,0,1,0,...,0,0,0,0,0,0,1,0,0,0
878035,2003-01-06 00:55:00,1,BATTERY,NONE,1300 Block of WEBSTER ST,-122.431046,37.783030,0,1,0,...,0,0,0,0,1,0,0,0,0,0
878036,2003-01-06 00:55:00,16,PETTY THEFT SHOPLIFTING,NONE,1300 Block of WEBSTER ST,-122.431046,37.783030,0,1,0,...,0,0,0,0,1,0,0,0,0,0
878037,2003-01-06 00:55:00,35,"MALICIOUS MISCHIEF, VANDALISM",NONE,1300 Block of WEBSTER ST,-122.431046,37.783030,0,1,0,...,0,0,0,0,1,0,0,0,0,0
878038,2003-01-06 00:42:00,37,ENROUTE TO OUTSIDE JURISDICTION,"ARREST, BOOKED",TAYLOR ST / GEARY ST,-122.411519,37.786941,0,1,0,...,0,0,0,0,0,0,0,0,0,1
878039,2003-01-06 00:40:00,21,"DRIVERS LICENSE, SUSPENDED OR REVOKED","ARREST, CITED",POLK ST / CALIFORNIA ST,-122.420692,37.790577,0,1,0,...,0,0,0,0,1,0,0,0,0,0
878040,2003-01-06 00:33:00,1,INFLICT INJURY ON COHABITEE,NONE,2800 Block of FOLSOM ST,-122.414073,37.751685,0,1,0,...,0,0,0,1,0,0,0,0,0,0
878041,2003-01-06 00:31:00,21,"DRIVERS LICENSE, SUSPENDED OR REVOKED","ARREST, CITED",CLEMENT ST / 14TH AV,-122.472985,37.782552,0,1,0,...,0,0,0,0,0,0,1,0,0,0
878042,2003-01-06 00:20:00,1,ATTEMPTED HOMICIDE WITH A GUN,"ARREST, BOOKED",1500 Block of SHAFTER AV,-122.389769,37.730564,0,1,0,...,1,0,0,0,0,0,0,0,0,0
878043,2003-01-06 00:20:00,21,PAROLE VIOLATION,"ARREST, BOOKED",1500 Block of SHAFTER AV,-122.389769,37.730564,0,1,0,...,1,0,0,0,0,0,0,0,0,0
878044,2003-01-06 00:15:00,25,ROBBERY ON THE STREET WITH A GUN,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056,0,1,0,...,0,0,0,0,0,0,0,0,1,0
878045,2003-01-06 00:01:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,600 Block of EDNA ST,-122.447364,37.731948,0,1,0,...,0,0,1,0,0,0,0,0,0,0
878046,2003-01-06 00:01:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266,0,1,0,...,0,0,0,0,0,0,0,1,0,0
878047,2003-01-06 00:01:00,35,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607,0,1,0,...,0,0,0,0,0,0,0,1,0,0
878048,2003-01-06 00:01:00,12,"CHECKS, FORGERY (FELONY)",NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212,0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [14]:
test_data

,Id,Dates,Address,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,...,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN
0,0,2015-05-10 23:59:00,2000 Block of THOMAS AV,-122.399588,37.735051,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
1,1,2015-05-10 23:51:00,3RD ST / REVERE AV,-122.391523,37.732432,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,2,2015-05-10 23:50:00,2000 Block of GOUGH ST,-122.426002,37.792212,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,3,2015-05-10 23:45:00,4700 Block of MISSION ST,-122.437394,37.721412,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4,4,2015-05-10 23:45:00,4700 Block of MISSION ST,-122.437394,37.721412,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
5,5,2015-05-10 23:40:00,BROAD ST / CAPITOL AV,-122.459024,37.713172,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
6,6,2015-05-10 23:30:00,100 Block of CHENERY ST,-122.425616,37.739351,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
7,7,2015-05-10 23:30:00,200 Block of BANKS ST,-122.412652,37.739750,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8,8,2015-05-10 23:10:00,2900 Block of 16TH ST,-122.418700,37.765165,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
9,9,2015-05-10 23:10:00,TAYLOR ST / GREEN ST,-122.413935,37.798886,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
10,10,2015-05-10 23:00:00,100 Block of PERALTA AV,-122.408608,37.746787,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
11,11,2015-05-10 23:00:00,600 Block of FLORIDA ST,-122.411094,37.761048,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
12,12,2015-05-10 23:00:00,600 Block of FLORIDA ST,-122.411094,37.761048,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
13,13,2015-05-10 23:00:00,200 Block of VALLEJO ST,-122.402131,37.799364,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
14,14,2015-05-10 23:00:00,JEFFERSON ST / HYDE ST,-122.420747,37.807588,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
15,15,2015-05-10 22:50:00,GOLDEN GATE AV / HYDE ST,-122.415508,37.781654,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
16,16,2015-05-10 22:36:00,1200 Block of OCEAN AV,-122.455679,37.723702,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
17,17,2015-05-10 22:00:00,1200 Block of GIRARD ST,-122.400298,37.717181,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
18,18,2015-05-10 22:00:00,1900 Block of FILLMORE ST,-122.433669,37.787709,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
19,19,2015-05-10 22:00:00,GREEN ST / POLK ST,-122.422150,37.797824,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
20,20,2015-05-10 22:00:00,GREEN ST / POLK ST,-122.422150,37.797824,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
21,21,2015-05-10 22:00:00,15TH ST / FOLSOM ST,-122.415464,37.766937,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
22,22,2015-05-10 21:54:00,1800 Block of KEARNY ST,-122.406821,37.804828,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
23,23,2015-05-10 21:51:00,200 Block of PEABODY ST,-122.407922,37.709004,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
24,24,2015-05-10 21:35:00,500 Block of HAIGHT ST,-122.431290,37.772055,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
25,25,2015-05-10 21:30:00,200 Block of 11TH AV,-122.469907,37.783616,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
26,26,2015-05-10 21:30:00,800 Block of FULTON ST,-122.431149,37.777698,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
27,27,2015-05-10 21:16:00,800 Block of BRYANT ST,-122.403405,37.775421,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
28,28,2015-05-10 21:00:00,300 Block of LOSPALMOS DR,-122.450676,37.735401,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
29,29,2015-05-10 21:00:00,1800 Block of 15TH AV,-122.472131,37.753391,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884232,884232,2003-01-01 00:01:00,2400 Block of BRYANT ST,-122.409436,37.755178,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
884233,884233,2003-01-01 00:01:00,500 Block of 2ND ST,-122.392671,37.782399,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
884234,884234,2003-01-01 00:01:00,800 Block of 33RD AV,-122.492762,37.773097,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
884235,884235,2003-01-01 00:01:00,500 Block of PORTOLA DR,-122.451164,37.745564,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
884236,884236,2003-01-01 00:01:00,500 Block of GUERRERO ST,-122.424037,37.762751,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
884237,884237,2003-01-01 00:01:00,1200 Block of CALIFORNIA ST,-122.414933,37.791255,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
884238,884238,2003-01-01 00:01:00,200 Block of WINSTON DR,-122.477977,37.726935,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
884239,884239,2003-01-01 00:01:00,2600 Block of BRYANT ST,-122.408983,37.751987,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
884240,884240,2003-01-01 00:01:00,2900 Block of PACIFIC AV,-122.443835,37.792137,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
884241,884241,2003-01-01 00:01:00,1300 Block of SILVER AV,-122.409221,37.731393,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
884242,884242,2003-01-01 00:01:00,2400 Block of FOLSOM ST,-122.414683,37.758077,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
884243,884243,2003-01-01 00:01:00,200 Block of COLLINGWOOD ST,-122.435950,37.758403,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
884244,884244,2003-01-01 00:01:00,500 Block of HOLYOKE ST,-122.407721,37.724547,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
884245,884245,2003-01-01 00:01:00,300 Block of EDDY ST,-122.413754,37.783730,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
884246,884246,2003-01-01 00:01:00,0 Block of OSCEOLA LN,-122.383085,37.731752,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
884247,884247,2003-01-01 00:01:00,2700 Block of 21ST ST,-122.409125,37.757678,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
884248,884248,2003-01-01 00:01:00,400 Block of BROADWAY ST,-122.405065,37.798013,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
884249,884249,2003-01-01 00:01:00,800 Block of PACIFIC AV,-122.409061,37.796679,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
884250,884250,2003-01-01 00:01:00,800 Block of BRYANT ST,-122.403405,37.775421,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
884251,884251,2003-01-01 00:01:00,2400 Block of MARIPOSA ST,-122.407808,37.763099,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
884252,884252,2003-01-01 00:01:00,400 Block of MONTEREY BL,-122.445466,37.731460,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
884253,884253,2003-01-01 00:01:00,400 Block of GEARY ST,-122.410722,37.787097,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
884254,884254,2003-01-01 00:01:00,1400 Block of CALIFORNIA ST,-122.418239,37.790933,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
884255,884255,2003-01-01 00:01:00,200 Block of PRECITA AV,-122.414190,37.747319,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
884256,884256,2003-01-01 00:01:00,1800 Block of 15TH ST,-122.425864,37.766254,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
884257,884257,2003-01-01 00:01:00,2600 Block of BRYANT ST,-122.408983,37.751987,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
884258,884258,2003-01-01 00:01:00,1900 Block of WASHINGTON ST,-122.425342,37.792681,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
884259,884259,2003-01-01 00:01:00,5500 Block of MISSION ST,-122.445418,37.712075,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
884260,884260,2003-01-01 00:01:00,1500 Block of HUDSON AV,-122.387394,37.739479,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
884261,884261,2003-01-01 00:01:00,1500 Block of SLOAT BL,-122.489714,37.733950,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [15]:
for x in [train_data, test_data]:
    x['years'] = x['Dates'].dt.year
    x['months'] = x['Dates'].dt.month
    x['days'] = x['Dates'].dt.day
    x['hours'] = x['Dates'].dt.hour
    x['minutes'] = x['Dates'].dt.minute
    x['seconds'] = x['Dates'].dt.second

In [16]:
train_data.head()

,Dates,Category,Descript,Resolution,Address,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,...,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,years,months,days,hours,minutes,seconds
0,2015-05-13 23:53:00,37,WARRANT ARREST,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,0,0,...,0,0,0,0,2015,5,13,23,53,0
1,2015-05-13 23:53:00,21,TRAFFIC VIOLATION ARREST,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,0,0,...,0,0,0,0,2015,5,13,23,53,0
2,2015-05-13 23:33:00,21,TRAFFIC VIOLATION ARREST,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,0,0,0,...,0,0,0,0,2015,5,13,23,33,0
3,2015-05-13 23:30:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,0,0,0,...,0,0,0,0,2015,5,13,23,30,0
4,2015-05-13 23:30:00,16,GRAND THEFT FROM LOCKED AUTO,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,0,0,0,...,0,0,0,0,2015,5,13,23,30,0

In [17]:
test_data.head()

,Id,Dates,Address,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,...,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,years,months,days,hours,minutes,seconds
0,0,2015-05-10 23:59:00,2000 Block of THOMAS AV,-122.399588,37.735051,0,0,0,1,0,...,0,0,0,0,2015,5,10,23,59,0
1,1,2015-05-10 23:51:00,3RD ST / REVERE AV,-122.391523,37.732432,0,0,0,1,0,...,0,0,0,0,2015,5,10,23,51,0
2,2,2015-05-10 23:50:00,2000 Block of GOUGH ST,-122.426002,37.792212,0,0,0,1,0,...,0,0,0,0,2015,5,10,23,50,0
3,3,2015-05-10 23:45:00,4700 Block of MISSION ST,-122.437394,37.721412,0,0,0,1,0,...,0,0,0,0,2015,5,10,23,45,0
4,4,2015-05-10 23:45:00,4700 Block of MISSION ST,-122.437394,37.721412,0,0,0,1,0,...,0,0,0,0,2015,5,10,23,45,0

In [18]:
train_data = train_data.drop(['Dates', 'Address','Resolution'], axis = 1)

In [19]:
train_data = train_data.drop(['Descript'], axis = 1)
train_data.head()

,Category,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,...,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,years,months,days,hours,minutes,seconds
0,37,-122.425892,37.774599,0,0,0,0,0,0,1,...,0,0,0,0,2015,5,13,23,53,0
1,21,-122.425892,37.774599,0,0,0,0,0,0,1,...,0,0,0,0,2015,5,13,23,53,0
2,21,-122.424363,37.800414,0,0,0,0,0,0,1,...,0,0,0,0,2015,5,13,23,33,0
3,16,-122.426995,37.800873,0,0,0,0,0,0,1,...,0,0,0,0,2015,5,13,23,30,0
4,16,-122.438738,37.771541,0,0,0,0,0,0,1,...,0,0,0,0,2015,5,13,23,30,0

In [20]:
test_data = test_data.drop(['Dates', 'Address'], axis = 1)
test_data.head()

,Id,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,...,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,years,months,days,hours,minutes,seconds
0,0,-122.399588,37.735051,0,0,0,1,0,0,0,...,0,0,0,0,2015,5,10,23,59,0
1,1,-122.391523,37.732432,0,0,0,1,0,0,0,...,0,0,0,0,2015,5,10,23,51,0
2,2,-122.426002,37.792212,0,0,0,1,0,0,0,...,0,0,0,0,2015,5,10,23,50,0
3,3,-122.437394,37.721412,0,0,0,1,0,0,0,...,0,0,0,0,2015,5,10,23,45,0
4,4,-122.437394,37.721412,0,0,0,1,0,0,0,...,0,0,0,0,2015,5,10,23,45,0

In [21]:
feature_cols = [x for x in train_data if x!='Category']
X = train_data[feature_cols]
y = train_data['Category']
X_train, x_test,y_train, y_test = train_test_split(X, y)

In [22]:
DTC = DecisionTreeClassifier(criterion = 'gini', max_features = 10, max_depth = 9)
DTC = DTC.fit(X_train, y_train)
y_pred_DTC = DTC.predict(x_test)
y_pred_test_DTC = DTC.predict(X_train)
print("score is {:.3f}".format (score(y_test, y_pred_DTC, average = 'micro')*100))
print("Accuracy for the test data is {:.3f} ".format (accuracy_score(y_test, y_pred_DTC)*100))
print("Accuracy for the train data is {:.3f} ".format (accuracy_score(y_train, y_pred_test_DTC)*100))
print("acc voting classifier:", accuracy_score(y_test, y_pred_DTC))

score is 26.354
Accuracy for the test data is 26.354
Accuracy for the train data is 26.590
acc voting classifier: 0.26354247812202464

In [23]:
from sklearn.metrics import f1_score
from sklearn.kernel_approximation import Nystroem
nystroemSVC = Nystroem(kernel = 'rbf')
sgd = SGDClassifier()

X_train_svc = nystroemSVC.fit_transform(X_train)
X_test_svc = nystroemSVC.transform(x_test)

linSVC = sgd.fit(X_train_svc, y_train)
y_pred_svc = linSVC.predict(X_test_svc)
y_pred_test_svc = linSVC.predict(X_train_svc)

print("score is {:.3f}".format (score(y_test, y_pred_svc, average = 'micro')*100))
print("Accuracy for the test data is {:.3f}".format (accuracy_score(y_test, y_pred_svc)*100))
print("Accuracy for the train data is {:.3f}".format (accuracy_score(y_train, y_pred_test_svc)*100))

C:\Users\mohamedelhedi\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

score is 7.177
Accuracy for the test data is 7.177
Accuracy for the train data is 7.264

In [24]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(dual=False, tol=0.1)
lr.fit(X_train, y_train)
y_pred_test_lr = lr.predict(X_train)
y_pred_lr = lr.predict(x_test)


print("score is {:.3f}".format (score(y_test, y_pred_lr, average = 'micro')*100))
print("Accuracy for the test data is {:.3f}".format (accuracy_score(y_test, y_pred_lr)*100))
print("Accuracy for the train data is {:.3f} ".format (accuracy_score(y_train, y_pred_test_lr)*100))
print("acc voting classifier:", accuracy_score(y_test, y_pred_lr))

score is 19.919
Accuracy for the test data is 19.919
Accuracy for the train data is 19.919
acc voting classifier: 0.19919093629990023

In [25]:
from sklearn.linear_model import SGDClassifier
svm = SGDClassifier( max_iter=13 ,loss="hinge")
svm.fit(X_train, y_train)
y_pred_test_svm = svm.predict(X_train)
y_pred_svm = svm.predict(x_test)

print("score is {:.3f}".format (score(y_test, y_pred_svm, average = 'micro')*100))
print("Accuracy for the test data is {:.3f}".format (accuracy_score(y_test, y_pred_svm)*100))
print("Accuracy for the train data is {:.3f} ".format (accuracy_score(y_train, y_pred_test_svm)*100))
print("acc voting classifier:", accuracy_score(y_test, y_pred_svm))

score is 19.691
Accuracy for the test data is 19.691
Accuracy for the train data is 19.607
acc voting classifier: 0.1969131668739437

In [26]:
 from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=50)
knn.fit(X_train, y_train)
y_pred_test_knn = knn.predict(X_train)
y_pred_knn = knn.predict(x_test)
print("acc voting classifier:", accuracy_score(y_test,y_pred_knn))

acc voting classifier: 0.23616824516087886

In [27]:
from sklearn.ensemble import VotingClassifier
vc = VotingClassifier(estimators=[('lr', lr) ,('knn', knn),('DTC', DTC),('svm', svm)], n_jobs=-1,voting='hard')
y_pred_vc=vc.fit(X_train, y_train)
y_pred_test_vc = vc.predict(x_test)
print("acc voting classifier:", accuracy_score(y_test, y_pred_test_vc))

acc voting classifier: 0.2412613375973177

C:\Users\mohamedelhedi\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [28]:
print("acc voting classifier:", accuracy_score(y_test, y_pred_test_vc)*100)

acc voting classifier: 24.12613375973177

In [29]:
from sklearn.metrics import confusion_matrix
cmat = confusion_matrix(y_test, y_pred_test_vc)
cmat

array([[   0,   49,    0, ...,    7,    2,    0],
       [   0, 1498,    0, ...,  238,   12,    0],
       [   0,    2,    0, ...,    1,    0,    0],
       ...,
       [   0,  305,    0, ..., 1061,    3,    0],
       [   0,  679,    0, ...,   20,   27,    0],
       [   0,  180,    0, ...,   20,    2,    0]], dtype=int64)

In [32]:
X_test =test_data.drop(['Id'], axis = 1)

my_prediction = DTC.predict(X_test)

SFCC_submission_final = pd.DataFrame({'Id': test_data.Id, 'Category': my_prediction})
print(SFCC_submission_final.shape)
SFCC_submission_final.to_csv("C:\\Users\\mohamedelhedi\\Desktop\\python san fansico\\SFCC_prediction.csv", index = False)

(884262, 2)